.header__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:bisque;
    height: 60px;
    padding: 0 30px;
    font-size: 20px;
}
.navbar__logo{
    cursor: pointer;
}
.navbar__items{
    display: flex;
    gap: 15px;

    & a {
        text-decoration: none;
    }
}